Ваша задача дописать функции, чтобы они проходили все тесты <br>
Именование функций проиходит по шаблону: `t{number_of_task}`. Пожалуйста не меняйте эти имена. <br>
Разрешается использовать только стандартные библиотеки языка.

In [71]:
def t1(number):
    """
    Поправьте код что бы возвращаемое значение было следующим кратным 20
    Пример: number=21 тогда нужно вернуть 40
    """
    return number if not number % 20 else (number + 20) - (number + 20) % 20

t1(-41), t1(-20), t1(0), t1(40), t1(51)

(-40, -20, 0, 40, 60)

In [72]:
def t2(string):
    """
    На вход подается набор слов разделенных пробелом, инвертируйте каждое слово.
    Пример: `abc abc abc` -> `cba cba cba`
    """
    return ' '.join([word[::-1] for word in string.split()])

t2('abc abc abcd asdsad     ')

'cba cba dcba dasdsa'

In [73]:
def t3(dictionary):
    """
    На вход подается словарь. Преорбазуйте его в строку по следующему шаблону 'key: value; key: value' и так далее
    """
    return str(dictionary).replace(',', ';')

t3({str(i): i for i in range(7)})

"{'0': 0; '1': 1; '2': 2; '3': 3; '4': 4; '5': 5; '6': 6}"

In [74]:
def t4(string, sub_string):
    """
    проверить есть ли в строке инвертированая подстрока
    """
    return sub_string[::-1] in string

t4('abc abc', 'cba'), t4('abc abc', 'ca')

(True, False)

In [75]:
def t5(strings):
    """
    На вход подается список строк,
    Отфильтруйте список строк, оставив только строки в формате: `x y z x*y*z`, где x,y,z - целые положительные числа
    """
    filtered_strings = []
    for string in strings:
        try:
            x, y, z = [int(i) for i in string.split()[:3]]
            if f'{x} {y} {z} {x}*{y}*{z}' == string and x >= 0 and y >= 0 and z >= 0:
                filtered_strings.append(string)
        except ValueError:
            continue
    return filtered_strings

t5(['1 2 3 1*2*3', '1 2. 3 1*2.*3', 'asdas', 'as s', '-1 2 3 -1*2*3', '221 2 0 221*2*0'])

['1 2 3 1*2*3', '221 2 0 221*2*0']

In [76]:
def t6(string):
    """
    Предположим у вас есть строки содержащие `#` символ, который означает backspace (удаление предыдущего) обработаете
        такие строки
    "abc#d##c"      ==>  "ac"
    "abc##d######"  ==>  ""
    "#######"       ==>  ""
    ""              ==>  ""
    """
    while string.find('#') != -1:
        index = string.find('#')
        string = string[:max(0, index-1)]+string[index+1:]
    return string

t6('abc##d######'), t6('abc#d##c'), t6('#######'), t6(''), t6('"')

('', 'ac', '', '', '"')

In [83]:
def t7(lst):
    """
    На вход подается список элементов, найдите сумму уникальных элементов списка.
    Например: [4,5,7,5,4,8] -> 15 потому что 7 и 8 уникальны
    """
    return sum([i for i in lst if lst.count(i) == 1])

t7([4,5,7,5,4,8])

15

In [95]:
def t8(string):
    """
    Найдите все последовательности числев в строке и среди них найдите максимальное число
    gh12cdy695m1 -> 695
    """
    return max([int(k) for k in ''.join([i if i.isnumeric() else ' ' for i in string]).split()])

t8('gh12cdy695m1')

695

In [122]:
def t9(number):
    """
    Приведите число number к пятизначному виду.
    Т.е. для числа 5 верните `00005`
    """
    return ('00000'+str(number))[-5:]

t9(12)

'00012'

In [136]:
def t10(string):
    """
    Произведите смешивание цветов. Вам будет дана строка, необходимо смешать все пары цветов и вернуть результируюший
        цвет
    Комбинации цветов:    G G     B G    R G   B R
    Результирующий цвет:   G       R      B     G
    R R G B R G B B  <- ввод
     R B R G B R B
      G G B R G G
       G R G B G
        B B R R
         B G R
          R B
           G  <-- вывод
    """
    def new_col(col1, col2):
        if col1 == col2:
            new = col1
        elif col1+col2 == 'BG' or col2+col1 == 'BG':
            new = 'R'
        elif col1+col2 == 'RG' or col2+col1 == 'RG':
            new = 'B'
        else:
            new = 'G'
        return new
    
    if len(string) != 1:
        cols = string.split()
        new_cols = []
        for i in range(len(cols)-1):
            new_cols.append(new_col(cols[i], cols[i+1]))
        return t10(' '.join(new_cols))
        
    else:
         return string
        
t10('R R G B R G B B')

'G'

In [140]:
def t11(lst):
    """
    Вам дам список из целых чисел. Найдите индекс числа такого, что левая и правая части списка от него равны
        Если такого элемента нет - верните -1. Если вы нашли два элемента -> верните тот, который левее.
    [1,2,3,5,3,2,1] = 3
    [1,12,3,3,6,3,1] = 2
    [10,20,30,40] = -1
    """
    for i, k in enumerate(lst):
        if sum(lst[:i]) == sum(lst[i+1:]):
            return i
    else:
        return -1
    
t11([1,2,3,5,3,2,1]), t11([1,12,3,3,6,3,1]), t11([10,20,30,40])

(3, 2, -1)

In [145]:
import re
def t12(lst):
    """
    На вход подается список строк вида `Что-то происходит бла бла бла +790112345678` содержащие номер телефона.
        Используя regex выражения запишите всевозможноые комбинации телефонов, например программа должна корректно
        работать с 790112345678 или 890112345678
    Вход: [`Что-то происходит бла бла бла +790112345678`, `Звони 790112345678 мне`, `По вопросам рекламы 890112345678` ]
    Выход: список номеров
    """
    REG_EXPR = r'[+]*\d{11}'
    comp_reg_expr = re.compile(REG_EXPR)
    numbers = []
    for string in lst:
        numbers += comp_reg_expr.findall(string)
    return numbers

t12(['Что-то происходит бла бла бла +790112345678', 'Звони 790112345678 мне', 'По  122 воп122росам рекламы 890112345678'])

['+79011234567', '79011234567', '89011234567']

In [150]:
def t13(number_1, number_2):
    """
    Сложите два числа по элементно:
        248
       +208
        4416
    """
    out = ''
    for i, k in zip(str(number_1), str(number_2)):
        out += str(int(i) + int(k))
    return int(out)

t13(248, 208)

4416

In [168]:
def t14(string):
    """
    Преобразуйте математическое выражение (символьное) в буквенное выраэение
    Для операций используйте следующую таблицу
        { '+':   'Plus ',
          '-':   'Minus ',
          '*':   'Times ',
          '/':   'Divided By ',
          '**':  'To The Power Of ',
          '=':   'Equals ',
          '!=':  'Does Not Equal ' }
    Примеры:
        4 ** 9 -> Four To The Power Of Nine
        10 - 5 -> Ten Minus Five
        2 = 2  -> Two Equals Two
    """
    mapping = { '+':   'Plus ',
              '-':   'Minus ',
              '*':   'Times ',
              '/':   'Divided By ',
              '**':  'To The Power Of ',
              '=':   'Equals ',
              '!=':  'Does Not Equal ', 
              '1': 'One ', 
               '2': 'Two ', 
               '3': 'Three ', 
               '4': 'Four ', 
               '5': 'Five ', 
               '6': 'Six ', 
               '7': 'Seven ', 
               '8': 'Eight ', 
               '9': 'Nine ', 
               '10': 'Ten '}
    for i in set(string.split()):
        string = string.replace(i, mapping[i])
    return string

t14('4 ** 9'), t14('2 - 5 ** 3')

('Four  To The Power Of  Nine ', 'Two  Minus  Five  To The Power Of  Three ')

In [171]:
def t15(lst):
    """
    Найдите сумму элементов на диагонали
    [[ 1, 2, 3 ],
    [ 4, 5, 6 ],
    [ 7, 8, 9 ]]
    Результат: 30
    """
    out = 0
    i = 0
    for string in lst:
        out += string[i] + string[-i-1]
        i += 1
    return out

t15([[ 1, 2, 3 ],
    [ 4, 5, 6 ],
    [ 7, 8, 9 ]])

30