In [1]:
def t1(number):
    """
    Поправьте код что бы возвращаемое значение было ближайшим сверху, кратным к 20

    Пример: number=21 тогда нужно вернуть 40
    Пример: -5 -> 0

    """
    for i in range(20):
        if number%20==0:
            return number
        else:
            number=number+1
        pass
    pass

t1(41)

60

In [2]:
def t2(string):
    """
    На вход подается набор слов разделенных пробелом, инвертируйте каждое слово.

    Пример: `abc abc abc` -> `cba cba cba`
    """
    split = string.split()
    reverse = []
    
    for i in split:
        reverse.append(str(i[::-1]))
    
    return ' '.join(reverse)
    pass

t2('abc abc abc cda 12f')

'cba cba cba adc f21'

In [3]:
def t3(dictionary):
    """
    На вход подается словарь. Преорбазуйте его в строку по следующему шаблону 'key: value; key: value' и так далее

    """
    items = dictionary.items()
    aux = []
    for i in items:
        aux.append(str(i[0]) + ': ' + str(i[1]))
    return '; '.join(aux)
    pass

mydict = {'moscow':1, 'birm':2, 'claude':4, 'dirt':5, 12:'dunkan'}
t3(mydict)

'moscow: 1; birm: 2; claude: 4; dirt: 5; 12: dunkan'

In [4]:
def t4(string, sub_string):
    """
    проверить есть ли в строке инвертированная подстрока
    """
    if sub_string[::-1] in string:
        return True
    else:
        return False
    pass

t4('Moscow', 'woss')

False

In [5]:
import re

def t5(strings):
    """
    На вход подается список строк,
    Отфильтруйте список строк, оставив только строки в формате: `x y z x*y*z`, где x,y,z - целые положительные числа
    """
    regex = re.compile(r'^\d+\s\d+\s\d+\s\d+\*\d+\*\d+$')
    
    filtered = [*filter(regex.match, strings)]
    
    return filtered
    pass

mystringlist = ['1 2 3 1*2*3', 'moscow', '123 123', '12 21 23 12*21*23', '1 2 3 123', 'azsdfasd 1 2 3 1*2*3', '-11 2.5 -0 1*2*3', '423 545 0.41 12*42*34', '453423 5432345 243543 234532*2435234*2344523', ]
t5(mystringlist)

['1 2 3 1*2*3',
 '12 21 23 12*21*23',
 '453423 5432345 243543 234532*2435234*2344523']

In [6]:
def t7(lst):
    """
    На вход подается список элементов, найдите сумму уникальных элементов списка.

    Например: [4,5,7,5,4,8] -> 15 потому что 7 и 8 уникальны
    """
    unique_vals = []
    
    for i in set(lst):
        if lst.count(i) == 1:
            unique_vals.append(i)
        else:
            pass
    return sum(unique_vals)
    pass

mylist = [4,5,7,5,4,8,4,6,]
t7(mylist)

21

In [7]:
def t8(string):
    """
    Найдите все последовательности числев в строке и среди них найдите максимальное число

    gh12cdy695m1 -> 695
    """
    num = re.findall(r'\d+', string)
    num = map(int, num)
    return max(num)
    pass

mystr1 = 'fn0.234523465ower2342fqwe 2344 fwef 234444 fwef 21 21eq0234485782we1234d32d'
t8(mystr1)

234523465

In [8]:
def t9(number):
    """
    Приведите число number к пятизначному виду.

    Т.е. для числа 5 верните `00005`
    """
    lenght = len(str(abs(number)))
    zeros = (5 - lenght) * '0'
    return zeros + str(number)
    pass

t9(123456)

'123456'

In [5]:
def t10(string):
    """
    Произведите смешивание цветов. Вам будет дана строка, необходимо смешать все пары цветов и вернуть результируюший
        цвет

    Комбинации цветов:    G G     B G    R G   B R
    Результирующий цвет:   G       R      B     G

    R R G B R G B B  <- ввод
     R B R G B R B
      G G B R G G
       G R G B G
        B B R R
         B G R
          R B
           G  <-- вывод

    """
    def colorsum(color1, color2):
        if color1 == color2:
            return color1
        elif color1 == 'G':
            if color2 == 'B':
                return 'R'
            else:
                return 'B'
        elif color1 == 'B':
            if color2 == 'G':
                return 'R'
            else:
                return 'G'
        else:
            if color2 == 'G':
                return 'B'
            else:
                return 'G'
        pass
    split = string
    
    sumcols = ''
    while len(split) > 1:
        for i in range(len(split)-1):
            sumcols = sumcols + colorsum(split[i], split[i+1])
        split = sumcols
        sumcols = ''
    return ' '.join(split)
    pass

t10('RRGBRGBB')

'G'

In [10]:
def t13(number_1, number_2):
    """
    Сложите два числа по элементно:
        248
       +208
        4416
    """
    len_1 = len(str(number_1))
    len_2 = len(str(number_2))
    summed = []
    
    if len_1 == len_2:
        for i in range(len_1):
            summed.append(str(int(str(number_1)[i]) + int(str(number_2)[i])))
        return int(''.join(summed))
    elif len_1 > len_2:
        diff = len_1 - len_2
        number_2 = number_2 * 10**diff
        for i in range(len_1):
            summed.append(str(int(str(number_1)[i]) + int(str(number_2)[i])))
        return int(''.join(summed))
    else:
        diff = len_2 - len_1
        number_1 = number_1 * 10**diff
        for i in range(len_2):
            summed.append(str(int(str(number_1)[i]) + int(str(number_2)[i])))
        return int(''.join(summed))
    pass

t13(248, 208)

4416

In [11]:
def t15(lst):
    """
    Найдите сумму элементов на диагоналях

    [[ 1, 2, 3 ],
    [ 4, 5, 6 ],
    [ 7, 8, 9 ]]
    Результат: 30
    """
    size = len(lst[0])
    if size == 1:
        return lst[0][0]*2

    diag_sum = 0

    for i in range(size):
        diag_sum += lst[i][i]

        diag_sum += lst[i][size-i-1]
    return diag_sum
    pass

In [12]:
def t11(lst):
    """
    Вам дам список из целых чисел. Найдите индекс числа такого, что левая и правая части списка от него равны
        Если такого элемента нет - верните -1. Если вы нашли два элемента -> верните тот, который левее.
    [1,2,3,5,3,2,1] = 3
    [1,12,3,3,6,3,1] = 2
    [10,20,30,40] = -1
    """
    index = -1
    for i in range(len(lst)):
        if sum(lst[0:i]) == sum(lst[i+1:]):
            index = index + 1 + i
            break
        else:
            pass
    return index
    pass

list1 = [1,2,3,5,3,2,1]
list2 = [1,12,3,3,6,3,1]
list3 = [10,20,30,40]
list4 = [1, 2, 3, 4, 0, 3, 2, 1]

t11(list4)

3

In [13]:
list1 = [1,2,3,5,3,2,1]
list2 = [1,12,3,3,6,3,1]
list3 = [10,20,30,40]
list4 = [1, 2, 3, 4, 4, 3, 2, 1]

sum(list4[4:])

10

In [2]:
def t14(string):
    """
    Преобразуйте математическое выражение (символьное) в буквенное выраэение

    Для операций используйте следующую таблицу
        { '+':   'Plus ',
          '-':   'Minus ',
          '*':   'Times ',
          '/':   'Divided By ',
          '**':  'To The Power Of ',
          '=':   'Equals ',
          '!=':  'Does Not Equal ' }
    Примеры:
        4 ** 9 -> Four To The Power Of Nine
        10 - 5 -> Ten Minus Five
        2 = 2  -> Two Equals Two
    """
    math_dict = { '+':   ' Plus ',
          '-':   ' Minus ',
          '*':   'Times',
          '/':   'Divided By',
          '**':  'To The Power Of',
          '=':   'Equals',
          '!=':  'Does Not Equal' ,
            '1':'One', '2':'Two', 
            '3':'Three', 
            '4':'Four', 
            '5':'Five', 
            '6':'Six', 
            '7':'Seven', 
            '8':'Eight', 
            '9':'Nine', 
            '10':'Ten' }
    
    newstring = ''
    string = string.split()
    for i in range(len(string)):
        newstring = newstring + math_dict[string[i]]
    return newstring
    pass

t14('4 ** 9')

'FourTo The Power OfNine'

In [22]:
def t12(lst):
    """
    На вход подается список строк вида `Что-то происходит бла бла бла +7495 123-45-67` содержащие номер телефона.
        Используя regex выражения запишите всевозможноые комбинации телефонов, например программа должна корректно
        работать с 790112345678 или 890112345678
    Вход: [`Что-то происходит бла бла бла +7495 123-45-67`]
    Выход: [`84951234567`]

    """
    regex = re.compile(r'\+?\d[\( -]?\d{3}[\) -]?\d{3}[ -]?\d{2}[ -]?\d{2}')
    phone = []
    for i in range(len(lst)):
        phone.append(re.search(r'\+?\d[\( -]?\d{3}[\) -]?\d{3}[ -]?\d{2}[ -]?\d{2}', lst[i], flags=0))
    return phone
    pass

list1 = ['Что-то происходит бла бла бла +7495 123-45-67']
t12(list1)

In [33]:
def t6(string):
    """
    Предположим у вас есть строки содержащие `#` символ, который означает backspace (удаление предыдущего) обработаете
        такие строки

    "abc#d##c"      ==>  "ac"
    "abc##d######"  ==>  ""
    "#######"       ==>  ""
    ""              ==>  ""
    """
    newstring = ''
    for i in range(len(string)):
        if string[i] != '#':
            newstring = newstring + string[i]
        else:
            newstring = newstring[:-1]
    return newstring
    pass

t6('abc#d##c')

'ac'