In [13]:
def t1(number):
    """
    Поправьте код что бы возвращаемое значение было ближайшим сверху, кратным к 20

    Пример: number=21 тогда нужно вернуть 40
    Пример: -5 -> 0

    """
    return (number+19)//20*20

In [16]:
t1(20)

20

In [12]:
-5%20

15

In [17]:
def t2(string):
    """
    На вход подается набор слов разделенных пробелом, инвертируйте каждое слово.

    Пример: `abc abc abc` -> `cba cba cba`
    """
    return (string[::-1])

In [19]:
t2('abc abc abc')

'cba cba cba'

In [36]:
def t3(dictionary):
    """
    На вход подается словарь. Преорбазуйте его в строку по следующему шаблону 'key: value; key: value' и так далее

    """
    return str(dictionary)[1:-1].replace(',',';').replace("'","")

In [29]:
t3(s)

"{'one': 1, 'two': 2, 'three': 6}"

In [26]:
s=dict({'one':1, 'two':2, 
    'three': 6})

In [28]:
type(s)

dict

In [37]:
str(s)[1:-1].replace(',',';').replace("'","")

'one: 1; two: 2; three: 6'

In [120]:
def t13(number_1, number_2):
    """
    Сложите два числа по элементно:
        248
       +208
        4416
    """
    s={}
    f={}
    d=max(len(str(number_1)), len(str(number_2)))-min(len(str(number_1)), len(str(number_2)))
    k=min(len(str(number_1)), len(str(number_2)))
    for i in range(1,k+1):
        s[i] = (int(str(number_1)[-i])+int(str(number_2)[-i]))
        if len(str(number_1)) != len(str(number_2)):
            for j in range (0,d):
                if len(str(number_1)) > len(str(number_2)):
                    f[j]=int(str(number_1)[j])
                else:
                    f[j]=int(str(number_2)[j])
    return int(str(list(f.values())).replace('[','').replace(']','').replace(', ','')+str(list(s.values())[::-1]).replace('[','').replace(']','').replace(', ',''))

In [123]:
t13(0, 1)

1

In [70]:
a=248

In [71]:
b=208

In [72]:
int(str(a)[-1])+int(str(a)[-1])

16

In [76]:
s={}
if len(str(a)) <= len(str(b)):
    for i in range(1,len(str(a))+1):
    #for j in range(1,len(str(b))+1):
        s[i] = (int(str(a)[-i])+int(str(b)[-i]))

In [118]:
a=22
b=11


s={}
f={}
d=max(len(str(a)), len(str(b)))-min(len(str(a)), len(str(b)))
k=min(len(str(a)), len(str(b)))
for i in range(1,k+1):
    #for j in range(1,len(str(b))+1):
    s[i] = (int(str(a)[-i])+int(str(b)[-i]))
    if len(str(a)) != len(str(b)):
        for j in range (0,d):
            if len(str(a)) > len(str(b)):
                f[j]=int(str(a)[j])
            else:
                f[j]=int(str(b)[j])
#return int(str(list(f.values())).replace('[','').replace(']','').replace(', ','')+str(list(s.values())[::-1]).replace('[','').replace(']','').replace(', ',''))

SyntaxError: 'return' outside function (<ipython-input-118-7d0e23c20398>, line 18)

In [110]:
f

{0: 2}

In [119]:
str(list(f.values())).replace('[','').replace(']','').replace(', ','')+str(list(s.values())[::-1]).replace('[','').replace(']','').replace(', ','')

'33'

In [93]:
f

{}

In [90]:
1!=2

True

In [88]:
int(str(list(s.values())[::-1]).replace('[','').replace(']','').replace(', ',''))

4416

In [46]:
int(str(a)[-len(str(a))])

2

In [16]:
def t14(string):
    """
    Преобразуйте математическое выражение (символьное) в буквенное выраэение

    Для операций используйте следующую таблицу
        { '+':   'Plus ',
          '-':   'Minus ',
          '*':   'Times ',
          '/':   'Divided By ',
          '**':  'To The Power Of ',
          '=':   'Equals ',
          '!=':  'Does Not Equal ' }
    Примеры:
        4 ** 9 -> Four To The Power Of Nine
        10 - 5 -> Ten Minus Five
        2 = 2  -> Two Equals Two
    """
    mydict = {'1': 'One', '2': 'Two', '3': 'Three', '4': 'Four', '5': 'Five', 
            '6': 'Six', '7': 'Seven', '8': 'Eight', '9': 'Nine', '10': 'Ten','+':   ' Plus ',  '-':   ' Minus ',
          '*':   ' Times ',
          '/':   ' Divided By ',
          '**':  ' To The Power Of ',
          '=':   ' Equals ',
          '!=':  ' Does Not Equal ' }
    f=''
    s = string.split(' ')
    for i in s:
        if i in mydict.keys():
            f += mydict.get(i)
    return f

In [17]:
t14('6 ** 9')

'Six To The Power Of Nine'

In [4]:
    mydict = {'1': 'One', '2': 'Two', '3': 'Three', '4': 'Four', '5': 'Five', 
            '6': 'Six', '7': 'Seven', '8': 'Eight', '9': 'Nine', '10': 'Ten','+':   ' Plus ',  '-':   ' Minus ',
          '*':   ' Times ',
          '/':   ' Divided By ',
          '**':  ' To The Power Of ',
          '=':   ' Equals ',
          '!=':  ' Does Not Equal ' }

In [15]:
string = '8 != 5'
s = string.split(' ')
f=''

for i in s:
        if i in mydict.keys():
            f += mydict.get(i)
print (f)

Eight Does Not Equal Five

In [11]:
t14('8 ** 5')

'Eight Times  Times Five'

In [7]:
string = '8 != 5'

In [12]:
string.split(' ')

['8', '!=', '5']

In [8]:
for i in string:
    print (i)

8

!
=

5

In [10]:
string[2]

'!'

In [5]:
mydict.get('!=')

' Does Not Equal '

In [159]:
 mydict = {'1': 'One', '2': 'Two', '3': 'Three', '4': 'Four', '5': 'Five', 
            '6': 'Six', '7': 'Seven', '8': 'Eight', '9': 'Nine', '10': 'Ten','+':   'Plus ',  '-':   'Minus ',
          '*':   'Times',
          '/':   'Divided By',
          '**':  'To The Power Of',
          '=':   'Equals ',
          '!=':  'Does Not Equal ' }

In [197]:
s='4 ** 4'

In [198]:
s1=s.split(' ')

In [201]:
s1

['4', '**', '4']

In [147]:
mydict.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '+', '-', '*', '/', '**', '=', '!='])

In [ ]:
for i in s1:
    if i ==

In [139]:
for keys in list(mydict.keys()):
    mydict[keys]

In [135]:
list(mydict.keys())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '+', '-', '*', '/', '**', '=', '!=']

In [199]:
f=''
for i in s1:
    if i in mydict.keys():
        f += mydict.get(i)

In [200]:
f

'Four To The Power Of Four'

In [167]:
", ".join(list(f.values())).replace(',','')

'Four To The Power Of  Nine'

In [178]:
", ".join(list(f.values()))

'Four, To The Power Of , Nine'

In [165]:
list(f.values())

['Four', 'To The Power Of ', 'Nine']

In [ ]:
A = [[10 * i + j for j in range(10)] for i in range(500)]

In [301]:
def t15(a):
    """
    Найдите сумму элементов на диагоналях

    [[ 1, 2, 3 ],
    [ 4, 5, 6 ],
    [ 7, 8, 9 ]]
    Результат: 30
    """
    rows_a = len(a)
    cols_a = len(a[0])

    t = 0
    k = 0
    s = [[0 for row in range(cols_a)] for col in range(rows_a)]
    for i in range(rows_a):
        s[i] = a[i][::-1]


    if rows_a >= cols_a:
        for i in range(cols_a):
            t += a[i][i]
            k += s[i][i]



    else:
        for j in range(rows_a):
            t += a[j][j]
            k += s[j][j]
    return t + k

In [302]:
t15([[1,0,0],
     [2,3,4],
     [4,1,2],
     [1,2,2]])

13

In [287]:
a=[[1,2,3,1],
   [4,5,6,1],
   [7,8,9,1],
   [5,2,3,1]]

In [257]:
rows_a = len(a)
cols_a = len(a[0])

In [258]:
rows_a

4

In [259]:
for i in range(rows_a):
    print (i)

0
1
2
3

In [279]:
s = [[0 for row in range(cols_a)] for col in range(rows_a)]
for i in range(rows_a):
    s[i]=a[i][::-1]

In [281]:
a

[[1, 2, 3, 1], [4, 5, 6, 1], [7, 8, 9, 1], [1, 2, 3, 1]]

In [280]:
s

[[1, 3, 2, 1], [1, 6, 5, 4], [1, 9, 8, 7], [1, 3, 2, 1]]

In [273]:
a[0][::-1]

[1, 3, 2, 1]

In [254]:
rows_a

4

In [264]:
d

[]

In [299]:
a=[[1,2,3],
   [1,2,3],
   [1,2,3],
   [1,2,3]]
rows_a = len(a)
cols_a = len(a[0])

t = 0
k = 0
s = [[0 for row in range(cols_a)] for col in range(rows_a)]
for i in range(rows_a):
    s[i]=a[i][::-1]


if rows_a >= cols_a:
    for i in range(cols_a):
        t += a[i][i]
        k += s[i][i]

        
        
else:
    for j in range(rows_a):
        t += a[j][j]
        k += s[j][j]
print (t+k)

12

In [289]:
k

20

In [218]:
s

15

In [ ]:
def t12(lst):
    """
    На вход подается список строк вида `Что-то происходит бла бла бла +7495 123-45-67` содержащие номер телефона.
        Используя regex выражения запишите всевозможноые комбинации телефонов, например программа должна корректно
        работать с 790112345678 или 890112345678
    Вход: [`Что-то происходит бла бла бла +7495 123-45-67`]
    Выход: [`84951234567`]

    """
    pass

In [374]:
def t11(a):
    """
    Вам дам список из целых чисел. Найдите индекс числа такого, что левая и правая части списка от него равны
        Если такого элемента нет - верните -1. Если вы нашли два элемента -> верните тот, который левее.
    [1,2,3,5,3,2,1] = 3
    [1,12,3,3,6,3,1] = 2
    [10,20,30,40] = -1
    """
    s = a[::-1]
    d = {}

    for i in range(1,len(a) - 1):
        x = 0
        y = 0
        for k in a[:i]:
            for t in a[i + 1:]:
                x += k
                y += t
                if x == y:
                    d[i] = i

    if d == {}:
        return -1
    else:
        return list(d.values())[0]

In [378]:
t11([1,2,2,4,2,2,1])

3

In [325]:
a=[1,2,3,5,3,2,9]

In [332]:
a[::-1]

[9, 2, 3, 5, 3, 2, 1]

In [322]:
s = a[::-1]
for i in range(len(a)):
    k = s[i]
    b = a[i]

In [323]:
k

1

In [373]:
a=[10,20,30,40]
s = a[::-1]
d={}

for i in range(1,len(a)-1):
    x=0
    y=0
    for k in a[:i]:
        for t in a[i + 1:]:
            x += k
            y += t
            if x == y:
                d[i] = i
                
if d == {}:
    print (-1)
else:
    print (list(d.values())[0])

-1

In [365]:
d

{3: 3, 4: 4, 5: 5}

In [362]:
a[4:]

[3, 2, 1]

In [ ]:

for k in a[:3]:
    for t in a[4:]:
        x += k
        y += t

In [339]:
list(x.values())[0]

2

In [337]:
x

{1: 2, 2: 3, 3: 5, 4: 3, 5: 2}

In [313]:
s

[1, 2, 3, 5, 3, 2, 1]

In [314]:
a

[1, 2, 3, 5, 3, 2, 1]

In [431]:
def t6(s):
    """
    Предположим у вас есть строки содержащие `#` символ, который означает backspace (удаление предыдущего) обработаете
        такие строки

    "abc#d##c"      ==>  "ac"
    "abc##d######"  ==>  ""
    "#######"       ==>  ""
    ""              ==>  ""
    """
    for j in s:
        if j=='#':
            s.find('#')
            s = s[:s.find('#')-1]+s[s.find('#')+1:]
    s=s.replace('#','')
    return s

In [432]:
t6('abc#d##c')

'ac'

In [386]:
s1=s.split('#')

In [422]:
for j in s:
    if '#' in s:
        s.find('#')
        s = s[:s.find('#')-1]+s[s.find('#')+1:]
s=s.replace('#','')

In [423]:
s

''

In [ ]:
for i in range(len(s1)):
    s1[i]

In [384]:
for j in range(len(s)-1):
    for i in s:
        if i == '#':
            s2 = s[:j]+s[:j+1]

In [385]:
s2

'abc#d#abc#d##'

In [454]:
def t7(s):
    """
    На вход подается список элементов, найдите сумму уникальных элементов списка.

    Например: [4,5,7,5,4,8] -> 15 потому что 7 и 8 уникальны
    """
    d={}
    i=0
    for j in s:
        if j in d:
            d[j] += 1

        else:
            d[j] = 1
    k=0
    for f in d.keys():
        if d[f]<2:
            k += f
    return k

In [457]:
t7([4,5,7,5,4,6,1])

14

In [443]:
d={}
i=0
for j in s:
    if j in d:
        d[j] += 1
        
    else:
        d[j] = 1

In [445]:
d.values()<2

TypeError: '<' not supported between instances of 'dict_values' and 'int'

In [451]:
k=0
for f in d.keys():
    if d[f]<2:
        k += f

In [452]:
k

15

In [ ]:
def t9(number):
    """
    Приведите число number к пятизначному виду.

    Т.е. для числа 5 верните `00005`
    """
    if len(str(number)) < 5:
        s = 5 - len(str(number))
        return '0'*s+str(number)
    elif len(str(number)) > 5:
        s=len(str(number))-5
        return number/10**s
    else:
        return number

In [5]:
a=56666666

In [7]:
if len(str(a)) < 5:
    s = 5 - len(str(a))
    print ('0'*s+str(a))
elif len(str(a)) > 5:
    s=len(str(a))-5
    print (a/10**s)
else:
    print (a)

56666.666

In [ ]:
def t10(string):
    """
    Произведите смешивание цветов. Вам будет дана строка, необходимо смешать все пары цветов и вернуть результируюший
        цвет

    Комбинации цветов:    G G     B G    R G   B R
    Результирующий цвет:   G       R      B     G

    R R G B R G B B  <- ввод
     R B R G B R B
      G G B R G G
       G R G B G
        B B R R
         B G R
          R B
           G  <-- вывод

    """
    pass

In [ ]:
mydict={'GG':'G','BG':'R','GB':'R','RG':'B','GR':'B','BR':'G','RB':'G','BB':'B','RR':'R'}

In [35]:
string = 'R R G B R G B B'

In [36]:
s = string.split(' ')

In [37]:
s

['R', 'R', 'G', 'B', 'R', 'G', 'B', 'B']

In [ ]:
string = 'R R G B R G B B'
s = string.split(' ')
d = {}
while len(s) != 1:
    for i in range(len(s)-1):
        d[i] = mydict.get(''.join([s[i],s[i+1]]))
    s = list(d.values())

In [48]:
s

['R', 'B', 'R', 'G', 'B', 'R', 'B']

In [14]:
string[:2]

'RR'

In [23]:
mydict.get(string[:2])

'R'

In [17]:
x = [1, 2, 3]

In [16]:
x.pop()

2

In [40]:
s=''
a=len(string)
for i in range(a-2):
    k=string
    t=k[:i+2]
    s+=mydict.get(str(t))
    k=k[i:]

In [41]:

s

''

In [42]:
a

0